@import '@/app/variables.scss';

.header {
  width: 100%;
  height: 704px;
  background-image: url('../../public/images/header_image.svg');
  color: #ffffff;

  &__content {
    display: $flex-display;
    height: 100%;
    width: 100%;
    max-width: 1121px;

    margin: auto;
    flex-direction: column;
    justify-content: $between-justify;

    &_text {
      max-width: 521px;
      margin: 0 auto 140px;
      text-align: $center-text-align;
    }
  }

  &__text {
    &_main {
      font-size: 42px;
      font-weight: $bold-font;
    }

    &_intro {
      font-size: $f_s-22;
      font-weight: $light-font;
      margin: 16px 0 48px;
    }
  }
}

@media screen and (max-width: 730px) {
  .header {
    padding: 20px 16px 0;
    background-image: url('../../public/images/header_image_mob.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__text {
      &_main {
        font-size: 38px;
      }
      &_intro {
        font-size: $f_s-22;
        margin-top: 24px;
      }
    }
  }
}
