@import '@/app/variables.scss';

.product-card {
  display: flex;
  gap: 32px 90px;
  flex-wrap: wrap;
  justify-content: center;

  &.rtl {
    flex-direction: row-reverse;
  }

  &__details {
    width: 493px;
    flex-grow: 0.5;
    &_header {
      font-size: 28px;
      font-weight: $bold-font;
    }

    &_prim-text,
    &_sec-text {
      font-size: $f_s-18;
      font-weight: $light-font;
    }

    &_prim-text {
      margin: 32px 0 16px;
    }

    &_sec-text {
      margin-bottom: $heading-bottom-margin;
    }

    &_button {
      &-mob {
        display: none;
      }
    }
  }

  &__image {
    width: 538px;
    height: 355px;
    max-width: 100%;
    flex-grow: 0.5;
  }
}

@media screen and (max-width: 730px) {
  .product-card {
    &__details {
      &_prim-text {
        margin: 24px 0 16px;
      }

      &_sec-text {
        margin-bottom: 32px;
      }

      &_button {
        display: none;
        &-mob {
          display: block;
          width: 242px;
        }
      }
    }
  }
}

@media screen and (max-width: 525px) {
  .product-card {
    &__image {
      width: 328px;
      height: 217px;
    }
  }
}
