.input-area {
  border-radius: 3px;
  width: 100%;

  &.white {
    background: #ffffff;
  }

  &__field {
    display: flex;
    padding: 18px;
    gap: 10px;
    border-radius: 3px;

    &_icon {
      opacity: 0.7;
    }

    &_input {
      width: 100%;
      outline: none;
      border: none;
      background: #f3f3f3;
      font-size: 18px;
      font-weight: 400;
      &::placeholder {
        color: #354150;
        font-weight: 400;
      }

      &.white {
        background: #ffffff;
        font-size: 16px;
        font-weight: 400;
      }
      &.message {
        height: 197px;
        font-family: inherit;
      }
    }

    &.grey {
      background: #f3f3f3;
      margin-top: 16px;
    }
  }

  &.grey {
    margin-bottom: 32px;
  }
}
