@import '@/app/variables.scss';

.shield-card {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 16px 16px 32px;
  gap: 16px;
  max-width: 265px;
  width: 262px;
  height: auto;

  &__image {
    max-width: 40px;
    width: 40px;
    height: auto;
  }

  &__text-main {
    color: #354150;
    font-weight: $bold-font;
    font-size: 22px;
    text-align: start;
  }

  &__text-sec {
    font-weight: $light-font;
    font-size: $f_s-18;
  }
}
