@import '@/app/variables.scss';

.navbar {
  display: flex;
  width: 100%;
  padding-top: 14px;

  &__links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    margin-left: 40px;

    &_list {
      gap: 36px;
    }
  }

  &__menu {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  .navbar {
    justify-content: space-between;
    align-items: baseline;
    padding-top: 0;
    &__menu {
      display: inline;
    }

    &__links {
      display: none;
    }
  }
}
