@import '@/app/variables.scss';

.technical {
  margin-top: $section-top-margin;

  &__listing {
    &_header {
      margin-bottom: 28px;
      font-size: 28px;
      font-weight: $bold-font;
    }

    &_text {
      font-size: $f_s-18;
      font-weight: $light-font;
    }
  }

  &__tables {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
    &_table {
      max-width: 100%;
      width: 50%;
      flex-grow: 1;
    }
  }

  .t-table {
    &__head,
    &__data {
      border: 0.5px solid #c5ced7;
      padding: 10px 12px;
      height: 67px;

      &.file-cell {
        text-align: center;
        width: 100px;
      }
    }

    &__data {
      line-height: 23px;
      font-size: $f_s-18;
      font-weight: $light-font;
      text-align: left;
    }

    &__head {
      text-align: left;
      font-weight: $bold-font;
      font-size: 20px;
      line-height: 25px;
      background-color: #f2f6fa;
    }
  }

  &__support {
    text-align: center;
    margin: 48px auto 24px;
    color: #4e5d78;
    font-style: 20px;
  }

  &__button {
    display: block;
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 930px) {
  .technical {
    &__tables {
      flex-direction: column;

      &_table {
        width: 100%;
      }
    }
  }

  .t-table {
    &__body {
      &_row {
        &.mob-hide {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 730px) {
  .technical {
    &__listing {
      &_header {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 573px) {
  .technical {
    margin-top: $section-top-margin_mob;
  }
}
