.studies-card {
  width: 290px;
  border-radius: 6px;
  box-shadow: -4px 10px 15px 0px rgba(78, 93, 120, 0.15);

  &__info {
    padding: 16px;

    &_title {
      font-size: 22px;
      font-weight: 600;
    }

    &_text {
      font-size: 18px;
      font-weight: 400;
      margin: 16px 0;
    }

    &_link {
      font-size: 18px;
      font-weight: 600;
      color: #4E5D78;
      text-decoration: none;
    }
  }
}

.studies-link__details {
  display: flex;
  padding: 16px 8px;
  width: 122px;
  gap: 8px;
}
