@import '@/app/variables.scss';

.studies-card {
  width: 347px;
  border-radius: 6px;
  box-shadow: -4px 10px 15px 0px rgba(78, 93, 120, 0.15);

  &__info {
    display: $flex-display;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px 40px;
    min-height: 343px;

    &_title {
      font-size: $f_s-22;
      font-weight: $bold-font;
    }

    &_text {
      font-size: $f_s-18;
      font-weight: $light-font;
    }
  }

  &__image {
    height: 200px;
    width: 347px;
    max-width: 100%;
  }
}
