.button {
  height: auto;
  width: auto;
  padding: 12px 32px;
  border-radius: 3px;
  border: none;
  background: #b40404;
  box-shadow: none;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
