@import '@/app/variables.scss';

.button {
  height: auto;
  width: auto;
  padding: 12px 32px;
  border-radius: 3px;
  border: none;
  background: #b40404;
  box-shadow: none;
  color: #ffffff;
  font-weight: $bold-font;
  font-size: 20px;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 675px) {
  .button {
    font-size: $f_s-16;
  }
}
