.products {
  padding-top: 128px;

  &__details {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
}

@media screen and (max-width: 730px) {
  .products {
    padding-top: 81px;
  }
}
