$bold-font: 600;
$light-font: 400;

$f_s-16: 16px;
$f_s-18: 18px;
$f_s-22: 22px;

$section-top-margin: 144px;
$heading-bottom-margin: 48px;

$flex-display: flex;
$between-justify: space-between;

$end-item-align: end;
$center-item-align: center;

$center-text-align: center;
$right-text-align: right;
