@import '@/app/variables.scss';

.studies {
  margin-top: $section-top-margin;

  &__header {
    margin-bottom: $heading-bottom-margin;
  }

  &__cards {
    display: $flex-display;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__slider {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  .studies {
    margin-top: $section-top-margin_mob;

    &__header {
      margin-bottom: $heading-bottom-margin_mob;
    }

    &__cards {
      display: none;
    }

    &__slider {
      display: block;
    }
  }

  .slick-arrow.slick-next,
  .slick-arrow.slick-prev {
    display: none !important;
  }

  .slick-slide.slick-active.slick-current {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
  }

  .slick-dots {
    bottom: 32px;
    & li {
      margin: 0;

      & button:before {
        font-size: 14px;
      }
    }
  }
}
