@import '@/app/variables.scss';

.studies {
  margin-top: $section-top-margin;

  &__header {
    margin-bottom: $heading-bottom-margin;
  }

  &__cards {
    display: $flex-display;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
}

@media screen and (max-width: 730px) {
  .studies {
    margin-top: $section-top-margin_mob;
  
    &__header {
      margin-bottom: $heading-bottom-margin_mob;
    }
  }
}
