@import '@/app/variables.scss';

.footer {
  margin-top: $section-top-margin;
  color: #ffffff;

  &__top {
    background: #445572;
    display: $flex-display;
    flex-direction: column;
    align-items: $center-item-align;
    padding: 96px 0 104px;
    gap: 40px;

    &_logo {
      width: 191px;
      height: 69px;
    }

    &_text {
      color: #ffffff;
      font-size: 28px;
      font-weight: $light-font;
      text-align: $center-text-align;
      width: 577px;
    }
  }

  &__bottom {
    background: #29303c;
    padding-top: 40px;

    &_content {
      max-width: 1121px;
      margin: auto;
    }

    .foot-cont {
      &__navbar {
        display: $flex-display;
        justify-content: center;
        gap: 64px 80px;
        flex-wrap: wrap;

        &_list {
          gap: 32px 80px;
          text-transform: uppercase;
          display: $flex-display;
          justify-content: center;
          flex-wrap: wrap;
          margin: 0 auto;
        }
      }

      &__email {
        font-size: $f_s-18;
        font-weight: $light-font;
        margin-top: 24px;
        color: #ffffff;
        text-decoration: none;
        display: block;
        text-align: $right-text-align;

        &:hover {
          color: #b40404;
          text-decoration: underline;
        }
      }

      &__features {
        margin-top: 60px;
        display: $flex-display;
        justify-content: space-between;
        gap: 64px;
        flex-wrap: wrap;

        &_subscribe {
          max-width: 400px;
          display: $flex-display;
          flex-direction: column;
          gap: 24px;
          justify-content: end;
          p {
            font-size: $f_s-16;
            font-weight: $light-font;
          }
        }

        &_app {
          min-width: fit-content;
          display: $flex-display;
          flex-direction: column;
          justify-content: $between-justify;
          gap: 16px;
          & a {
            font-size: 0;
          }

          .app-link {
            &__text {
              font-size: $f_s-16;
              font-weight: $light-font;
            }

            &__icon {
              width: 180px;
              height: 52px;
            }
          }
        }
      }

      &__terms {
        display: $flex-display;
        justify-content: center;
        gap: 64px 205px;
        flex-wrap: wrap;
        margin-top: 75px;
        padding: 32px 0;
        border-top: 1px solid #f6f6f6;

        &_links {
          display: $flex-display;
          justify-content: center;
          gap: 32px 40px;
          flex-wrap: wrap;

          &-link {
            font-size: $f_s-18;
            font-weight: $light-font;
            color: #f3f3f3;
            text-decoration: none;
          }
        }

        &_copyright {
          color: #e6e6e6;
          opacity: 0.7;
          text-align: $right-text-align;
        }
      }
    }
  }
}
