@import '@/app/variables.scss';

.contact-us {
  margin: $section-top-margin auto 0;
  width: 750px;
  max-width: 100%;
  height: auto;

  & > button {
    margin: auto;
  }

  &__form {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_creds {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 0 30px;
      justify-content: space-between;

      & > div {
        width: 48%;
        flex-grow: 1;
      }
    }
  }
}

@media screen and (max-width: 730px) {
  .contact-us {
    margin-top: $section-top-margin_mob;

    & > .section-header {
      margin-bottom: 16px;
    }

    &__form {
      margin-top: 32px;
    }
  }
}
