@import '@/app/variables.scss';

.contact-us {
  margin: 144px auto 0;
  width: 750px;
  max-width: 100%;
  height: auto;

  & > button {
    margin: auto;
  }

  &__form {
    margin-top: 54px;
    display: $flex-display;
    flex-direction: column;
    align-items: $center-item-align;
    &_creds {
      display: $flex-display;
      width: 100%;
      flex-wrap: wrap;
      gap: 0 30px;
      justify-content: $between-justify;

      &>div {
        width: 48%;
        flex-grow: 1;
      }
    }
  }
}
