.contact-us {
  margin: 144px auto 0;
  width: 750px;

  & p {
    text-align: center;
  }

  & > button {
    margin: auto;
  }

  &__form {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_creds {
      display: flex;
      width: 100%;
      gap: 30px;
      justify-content: space-between;
    }
  }
}