@import '@/app/variables.scss';

.industries {
  margin-top: $section-top-margin;

  &__images {
    display: $flex-display;
    gap: 24px;

    &_image {
      width: 357px;
      height: 250px;
      border-radius: 6px;
    }
  }
}
