@import '@/app/variables.scss';

.industries {
  margin-top: $section-top-margin;

  &__images {
    display: $flex-display;
    gap: 24px 24px;
    flex-wrap: wrap;
    justify-content: center;

    &>div {
      max-height: 250px;
      min-height: fit-content;
    }

    &_image {
      width: 357px;
      max-width: 100%;
      height: auto;
      border-radius: 6px;
    }
  }
}

@media screen and (max-width: 730px) {
  .industries {
    margin-top: $section-top-margin_mob;
  }
}
