@import '@/app/variables.scss';

.shielding {
  margin-top: $section-top-margin_page;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;

    &_card {
      border-radius: 6px;
      border: 1px solid #dedede80;
      box-shadow: 0px 3px 15px 0px #4e5d7826;
    }
  }
}
