.about {
  margin-top: 144px;

  &__details {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 32px;
    font-size: 18px;
    font-weight: 400;

    &_info {
      display: flex;
      gap: 48px;
    }
  }
}
