@import '@/app/variables.scss';

.about {
  margin-top: $section-top-margin;

  &__details {
    display: $flex-display;
    flex-direction: column;
    gap: 40px;
    margin-top: 32px;
    font-size: $f_s-18;
    font-weight: $light-font;
  }
}
